* {
  box-sizing: border-box;
  margin: 0;
}

body{
    background-color: rgb(149, 130, 82);
}

a{
    color:black;
    cursor: pointer;
}

a:hover {
  background-color: chocolate;
}

button:hover{
  background-color: chocolate;
}

.link-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.item-link,
.messages-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  border: 1px solid;
  padding: 6.5px;
  border-radius: 30px;
  background-color: beige;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.messages-container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  /* border: 1px solid; */
  justify-items: center;
}

.message-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.messages-list {
  height: fit-content;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin: 1em;
}

.details-btn {
  border: 0.5px solid;
  border-radius: 30px;
  float: right;
  background-color: beige;
}

.details-link {
  text-decoration: none;
}


.msg-wrap {
  height: fit-content;
  margin-left: 40px;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid;
  border-radius: 10px;
  padding-left: 20px;
  background-color: bisque;
}

.newMsg{
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 0 auto;
    gap: 1em;
}

.userName{
    width: 30%;
    border-radius: 5px;
    padding: 5px;    
}

.messageText{
    border-radius: 5px;
    padding: 5px;
}

.subBtn{
    width: fit-content;
    background-color: beige;
    padding: 5px;
    border-radius: 30px;
}

.container-details{
  width: 60%;
  margin: 0 auto;
  background-color: bisque;
  padding: 30px;
  border-radius: 5px;
}